/* 
This begining section as denoted by, slash then star, is comments about the CSS code.  
Any writting after the, slash then star, and before the, star then slash, is consideted to be comments and not rendered by the browser.
*/ 

p {
  width: 500px;
  border: 1px;
  border-style: dotted;
}

/* For any HTML code where id="line_02" */
 #line_02 {
   color: red;   /* Set text color to red */
 }

 #line_03 {
   color: green;  /* Set text color to green */
 }

 #line_04 {
   color: orange;
 }

 #line_05 {
   color: blue;
   writing-mode: horizontal-tb;
 }

/* For any HTML code where id="line_05" and the mouse cursor is hovering over it, change the color from blue as shown in the code above, to yellow. */
#line_05:hover {
  color: yellow;
}

#line_06 {
   color: purple;
}
