
p {
  width: 500px;
  border: 1px;
  border-style: dotted;
}

 #line_02 {
   color: red;
 }

 #line_03 {
   color: green;
 }

 #line_04 {
   color: blue;
 }

 #line_05 {
   color: teal;
   writing-mode: horizontal-tb;
 }
